@font-face {
    font-family: KaiseiOpti;
    src: url("assets/KaiseiOpti-Regular.ttf");
}
@font-face {
    font-family: BodoniModa;
    src: url("assets/BodoniModa_48pt-Regular.ttf");
}

@font-face {
    font-family: LibreBodoni;
    src: url("assets/LibreBodoni-Regular.ttf");
}


body {
    background-color: rgb(9,9,9);
    margin:0;
    color:#f7cd46;
    font-family: 'LibreBodoni', sans-serif;
}

#navigation {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 1.25em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid #5ac3b0;
}

#navigation > a {
    color: inherit;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.2em;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height:fit-content;
}

#name {
    padding-left: 1em;
    padding-right: 2em;
    margin-bottom: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
    font-family: BodoniModa;
}

#name > h1 {
    font-size: 4.2em;
    margin:0;
    text-shadow: 0px 0px 2px #de5935;
}

#name > h2 {
    font-size: 1.8em;
    margin:0;
}

#social-media-container {
    color:#f7cd46;
    display: inline-flex;
    margin-left: auto;
    margin-right: 2em;
    margin-bottom: 2em;
    align-self: flex-end;
}

#social-media-container > a {
    color: #f7cd46;
    text-decoration: none;
    margin-left: 0.5em;

}

#social-media-container > a:hover > .social-media-icon {
    color: rgb(9,9,9);
    border-color: transparent;
    background-color: #f7cd46;
}

.social-media-icon {
    display: flex;
    justify-content: center; 
    border: 2.5px solid #f7cd46;
    border-radius: 50%;
    width: fit-content;
    padding: 6px;
}

.social-media-icon > svg {
    width: 1em;
    height: auto;
}


#slideshow{
    top:0;
    left:0;
    position: absolute;
    overflow:hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
#slideshow > .bgi {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: imageAnimation 20s infinite 0s;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    opacity: 0;
}

#slideshow > .bgi:nth-child(1)
{
    background-image: url(assets/placeholder1.jpg);
    animation-delay: 0s;
}

#slideshow > .bgi:nth-child(2)
{
    background-image: url(assets/placeholder2.jpg);
    animation-delay: 10s;
    visibility: hidden;
}
  
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; visibility: visible; }
    5% { opacity: 0.35; animation-timing-function: ease-out; }
    50% { opacity: 0.35; }
    55% { opacity: 0; visibility: hidden; }
    100% { opacity: 0; }
}