@font-face {
    font-family: BodoniModa;
    src: url("assets/BodoniModa_48pt-Regular.ttf");
}

@font-face {
    font-family: LibreBodoni;
    src: url("assets/LibreBodoni-Regular.ttf");
}


body {
    background-color: rgb(9,9,9);
    margin:0;
    color:#f7cd46;
    font-family: 'LibreBodoni', sans-serif;
}

#navigation {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 1.25em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 8px solid;
    border-image: linear-gradient(to top, #5ac3b0 49%, #5ac3b0 50%, #de5935 51%, #de5935 100%);
    border-image-slice: 0% 0% 100% 0%;
}

#hamburger-icon {
    display:none;
}

#hamburger-icon > svg {
    height: 7dvh;
    width: auto;
    margin:auto;
    display: block;
    transition: 150ms;
}

.menu-item {
    color: inherit;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.6em;
}

#menu-toggle
{
    display: none;
}


@media screen and (max-device-width: 615px) {
    #navigation {
        width: 100%;
        background-color: #f7cd46;
        padding: 0;
        margin:0;
        z-index: -1;
        height: 8dvh;
        box-sizing: border-box;
    }

    #hamburger-icon {
        display:inline;
        margin-top: 0;
    }

    .menu-item {
        display: none;
    }

    #menu-toggle:checked + #hamburger-icon > svg
    {
        transform: rotate(90deg);
    }

    #menu-toggle:checked ~ #navigation > span:nth-child(1)
    {
        margin-top: 8dvh;
    }
    #menu-toggle:checked ~ #navigation > span
    {
        margin: 0;
        height: 23dvh;
        width: 100%;
        display: block;
        padding: 0;
        text-align: center;
        line-height: 23dvh;
        box-shadow: 0px -6px 12px 0px rgba(0,0,0,0.65) inset;

    }
    #menu-toggle:checked ~ #navigation > span > .menu-item
    {
        display: inline-block;
        margin: auto;
        font-size: 3em;
        text-shadow: 0px 0px 10px black;
    }

    #menu-toggle:checked ~ #footer {
        display: none;
    }

    #menu-toggle:checked ~ #mobile-menu-background
    {
        height: 100dvh;
        z-index: -1;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(19, 52, 46, 0.5) 0%, rgba(59, 20, 10, 0.5) 100%);
    }
}
  

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height:fit-content;
}

#name {
    padding-left: 1em;
    padding-right: 2em;
    margin-bottom: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
    font-family: BodoniModa;
}

#name > h1 {
    font-size: 4.5em;
    margin:0;
    text-shadow: 0px 0px 2px #de5935;
}

#name > h2 {
    font-size: 2em;
    margin:0;
}

#social-media-container {
    color:#f7cd46;
    display: inline-flex;
    margin-left: auto;
    margin-right: 2em;
    margin-bottom: 2em;
    align-self: flex-end;
}

#social-media-container > a {
    color: #f7cd46;
    text-decoration: none;
    margin-left: 0.5em;

}

#social-media-container > a:hover > .social-media-icon {
    color: rgb(9,9,9);
    border-color: transparent;
    background-color: #f7cd46;
}

.social-media-icon {
    display: flex;
    justify-content: center; 
    border: 2.5px solid #f7cd46;
    border-radius: 50%;
    width: fit-content;
    padding: 0.5em;
}

.social-media-icon > svg {
    width: 1.5em;
    height: auto;
}

@media screen and (max-device-width: 615px) {
    #footer {
        flex-direction: column;
    }
    
    #name {
        justify-self: center;
    }

    #name > h1 {
        font-size: 3.3em;
    }
    
    #name > h2 {
        font-size: 1.5em;
    }

    #social-media-container {
        margin: auto;
        margin-bottom: 1.5em;
    }

    .social-media-icon {
        padding: 0.5em;
        margin-left: 0.4em;
        margin-right: 0.4em;
    }

    .social-media-icon > svg {
        width: 2em;
        height: auto;
    } 
}


#slideshow{
    top:0;
    left:0;
    position: absolute;
    overflow:hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
#slideshow > .bgi {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: imageAnimation 28s infinite 0s;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    opacity: 0;
}

#slideshow > .bgi:nth-child(1)
{
    background-image: url(assets/placeholder1.jpg);
    animation-delay: 0s;
}

#slideshow > .bgi:nth-child(2)
{
    background-image: url(assets/placeholder2.jpg);
    animation-delay: 7s;
    visibility: hidden;
}

#slideshow > .bgi:nth-child(3)
{
    background-image: url(assets/placeholder3.jpg);
    animation-delay: 14s;
    visibility: hidden;
}

#slideshow > .bgi:nth-child(4)
{
    background-image: url(assets/placeholder4.jpg);
    animation-delay: 21s;
    visibility: hidden;
}
  
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; visibility: visible; }
    2% { opacity: 0.55; animation-timing-function: ease-out; }
    25% { opacity: 0.55; }
    27% { opacity: 0; visibility: hidden; }
    100% { opacity: 0; }
}